/* 0. Breakpoints ==================================== */
$bp-tablet: 760px;
$bp-desktop: 1020px;
$bp-xl: 1400px;

/* 1. Colors ========================================= */
$primary-color: #ffffff;
$accent-colorG: #8ddcba;
$gradient1: #26ec96;
$gradient2: #59c998;
$gradient3: #67eeb3;
$grey-color: #9a9a9a;
$fill-color: #000;
$textBLk: #1d1c1e;
$textGreyDrk: #333136;
$textGreyLite: #dfdfdf;

/* 2. Fonts  ========================================= */
$HeadFont2: 'Lobster', cursive;
$HeadFont1: 'Bebas Neue', cursive;
$BodyFont: 'Urbanist', sans-serif;
$fontMed: 500;
$fontReg: 400;
$fontBold: 700;
$fontLite: 300;

$facebook-color: #517fa4;
$twitter-color: #00aced;
$instagram_color: #dd4b39;
